.nav-container {
  background-color: 'blue',
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: flex-end;
}

.list li {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list li:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}